Coffee Management/WebContent/wsdl/CashonDelivery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="delivery">
    <complexType>
     <sequence>
      <element name="orderId" type="xsd:int"/>
      <element name="status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deliveryResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deliveryRequest">

      <wsdl:part element="impl:delivery" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deliveryResponse">

      <wsdl:part element="impl:deliveryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CashonDelivery">

      <wsdl:operation name="delivery">

         <wsdl:input message="impl:deliveryRequest" name="deliveryRequest">

       </wsdl:input>

         <wsdl:output message="impl:deliveryResponse" name="deliveryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CashonDeliverySoapBinding" type="impl:CashonDelivery">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="delivery">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deliveryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deliveryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CashonDeliveryService">

      <wsdl:port binding="impl:CashonDeliverySoapBinding" name="CashonDelivery">

         <wsdlsoap:address location="http://localhost:8080/Coffee_Management/services/CashonDelivery"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
