Coffee Management/WebContent/wsdl/Inventory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertCoffeeBean">
    <complexType>
     <sequence>
      <element name="beanType" type="xsd:string"/>
      <element name="smallCupPrice" type="xsd:double"/>
      <element name="mediumCupPrice" type="xsd:double"/>
      <element name="largeCupPrice" type="xsd:double"/>
      <element name="quantity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertCoffeeBeanResponse">
    <complexType/>
   </element>
   <element name="deleteCoffeeBean">
    <complexType>
     <sequence>
      <element name="beanType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCoffeeBeanResponse">
    <complexType/>
   </element>
   <element name="updateCoffeeBeanQuantity">
    <complexType>
     <sequence>
      <element name="beanType" type="xsd:string"/>
      <element name="newQuantity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCoffeeBeanQuantityResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertCoffeeBeanRequest">

      <wsdl:part element="impl:insertCoffeeBean" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertCoffeeBeanResponse">

      <wsdl:part element="impl:insertCoffeeBeanResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCoffeeBeanResponse">

      <wsdl:part element="impl:deleteCoffeeBeanResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCoffeeBeanQuantityRequest">

      <wsdl:part element="impl:updateCoffeeBeanQuantity" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCoffeeBeanRequest">

      <wsdl:part element="impl:deleteCoffeeBean" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCoffeeBeanQuantityResponse">

      <wsdl:part element="impl:updateCoffeeBeanQuantityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Inventory">

      <wsdl:operation name="insertCoffeeBean">

         <wsdl:input message="impl:insertCoffeeBeanRequest" name="insertCoffeeBeanRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertCoffeeBeanResponse" name="insertCoffeeBeanResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCoffeeBean">

         <wsdl:input message="impl:deleteCoffeeBeanRequest" name="deleteCoffeeBeanRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCoffeeBeanResponse" name="deleteCoffeeBeanResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCoffeeBeanQuantity">

         <wsdl:input message="impl:updateCoffeeBeanQuantityRequest" name="updateCoffeeBeanQuantityRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCoffeeBeanQuantityResponse" name="updateCoffeeBeanQuantityResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InventorySoapBinding" type="impl:Inventory">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertCoffeeBean">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertCoffeeBeanRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertCoffeeBeanResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCoffeeBean">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCoffeeBeanRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCoffeeBeanResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCoffeeBeanQuantity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCoffeeBeanQuantityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCoffeeBeanQuantityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InventoryService">

      <wsdl:port binding="impl:InventorySoapBinding" name="Inventory">

         <wsdlsoap:address location="http://localhost:8080/Coffee_Management/services/Inventory"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
